itsdangerous
fastapi
uvicorn
pydantic[email]
pydantic-settings
psycopg2-binary
sqlalchemy
redis
websockets
httpx
python-dotenv
asyncpg
fastapi-limiter
bcrypt
python-json-logger
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-psycopg2
opentelemetry-exporter-jaeger-thrift
opentelemetry-exporter-otlp
Deprecated
sentry-sdk